<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.vynokurov.app_bus_schedule.BusScheduleApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Calc"
        tools:targetApi="31">
        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.vynokurov.affirmations.AffirmationsActivity"/>
        <activity android:name="com.vynokurov.tiptime.TipTimeActivity"/>
        <activity android:name="com.vynokurov.dogglers.DogglersActivity"/>
        <activity android:name="com.vynokurov.wordsapp.ui.activities.WordsAppMainActivity"/>
        <activity android:name="com.vynokurov.unscramble.UnscrambleActivity"/>
        <activity android:name="com.vynokurov.cupcakeapp.CupcakeActivity"/>
        <activity android:name="com.vynokurov.sportsapp.SportsActivity"/>
        <activity android:name="com.vynokurov.app_mars.AppMarsActivity"/>
        <activity android:name="com.vynokurov.app_bus_schedule.AppBusSchedulerActivity"/>

        <activity android:name="com.vynokurov.dogglers.VerticalListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vynokurov.dogglers.DogglersActivity" />
        </activity>
        <activity android:name="com.vynokurov.dogglers.HorizontalListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vynokurov.dogglers.DogglersActivity" />
        </activity>
        <activity android:name="com.vynokurov.dogglers.GridListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vynokurov.dogglers.DogglersActivity" />
        </activity>
    </application>

</manifest>